danyaman {
  color: blue;
}

.intro {
  height: 40vh;
  background-image: none;
  background-color: #38294c !important;
}

#header {
  padding-top: 13px;
}

.info {
  position: relative;
  z-index: 1;
  background-color: #150f1d;
}

.info-usluga {
  width: 100%;
}
