@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;400;500;600&family=Open+Sans:wght@400;600;700;800&display=swap');
body {
    margin: 0;
    padding: 0;
    min-width: 320px;
}


* {
    box-sizing: border-box;
}

a {
    color: initial;
    text-decoration: none;
}
.clear-fix {
    &::after {
        content: "";
        display: block;
        clear: both;
    }
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

$logoclr1: #1B62A1;
$logoclr2: #6B6C6E;
$logotitle: 'Open Sans',
sans-serif;
$logodesc: 'Cormorant Garamond',
serif;
@mixin bgimg($bg) {
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url($bg);
}

@mixin overlay() {
    .overlay {
        background-image: url("../img/overlay.png");
        background-repeat: repeat;
        background-size: 4px;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
    }
}

@mixin after-line() {
    &::after {
        content: "";
        width: 100px;
        height: 1px;
        background-color: rgb(122, 122, 122);
        position: absolute;
        top: 40px;
        left: 50%;
        transform: translateX(-50%);
    }
}

a,
a:hover,
a:active,
a:visited,
a:focus {
    color: #fff;
    text-decoration: none;
}

.header {
    padding-top: 47px;
    padding-bottom: 10px;
    transition: 1s;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 10002;
    .wrapper {
        display: flex;
        align-items: center;
        height: 0;
        overflow: hidden;
        transition: height 0.7s ease-in-out;
        white-space: nowrap;
        width: 90%;
        margin: 0 auto;
        .logo {
            padding-left: 5px;
            position: relative;
            transition: 1s;
            transform: scale(1);
            div {
                transition: width 0.7s ease-in-out;
                width: 1%;
                overflow: hidden;
            }
            &::before {
                content: "";
                position: absolute;
                left: 1px;
                top: -1.6px;
                bottom: -2px;
                width: 3px;
                background-color: $logoclr1;
            }
            &-item {
                text-transform: uppercase;
                margin: 7px;
            }
            &-title {
                margin-top: 0;
                color: $logoclr1;
                line-height: 16px;
                letter-spacing: 0;
                font-family: $logotitle;
                font-weight: 800;
                span {
                    color: #ececec;
                }
                &:nth-of-type(2) {
                    margin-bottom: 2px;
                }
            }
            &-desc {
                font-family: $logodesc;
                margin-bottom: 0;
                color: #ececec;
                line-height: 11px;
                font-weight: 500;
                font-size: 14.3px;
                &:last-of-type {
                    padding-bottom: 2px;
                }
            }
        }
    }
    &.headermove {
        padding-top: 0;
        padding-bottom: 0;
        background: rgba(0, 0, 0, 0.95);
        border-bottom: 2px solid #539BD6;
        .wrapper {
            height: 63px;
            .logo {
                transform: scale(0.6);
            }
        }
    }
    &-links {
        margin-left: 150px;
        &-item {
            color: #fff;
            text-transform: uppercase;
            margin: 0 10px;
            font-family: $logotitle;
            transition: 0.4s;
            &:hover {
                color: #237FD1;
            }
        }
    }
    .mobile-but-hed {
        display: none;
    }
}



.arrow-down {
    position: absolute;
    top: 70vh;
    font-family: $logotitle;
    z-index: 1000;
    color: #fff;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
    h2 {
        font-weight: 500;
        font-size: 1.8vw;
        text-shadow: 0 2px 2.9px rgba(0,0,0,0.75);
        margin: 14px 0;
        @media (max-width:769px) {
            font-size: 4.8vw;
        }
    }
    .stick {
        width: 100%;
        height: 0.6px;
        background-color: #fff;
        margin-bottom: 20px;
        box-shadow: 0 2px 2.9px rgba(0,0,0,0.75);
    }
}

.intro-main {
    @include bgimg("../img/bg2.jpg");
    z-index: 0;
    height: 130vh;
    filter: brightness(130%);
    @include overlay();
}


.poslugi {
    position: relative;
    background-color: #F1F1F1 !important;
    padding-bottom: 50px;
    .welcome-text {
        .welcome-title {
            font-size: 30px;
            font-weight: 500;
            margin-top: 0;
            padding-top: 50px;
        }
        .welcome-desc {
            font-size: 15px;
        }
    }
    .areas_block {
        width: 100%;
        margin: 50px auto 0px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        &_itm {
            width: 30%;
            padding-bottom: 26px;
            border: 1px solid #c6c6c6;
            display: block;
            background: #fff;
            cursor: pointer;
            position: relative;
            margin: 0 1.5%;
            margin-bottom: 2.5%;
            overflow: hidden;
            &-over {
                display: none;
            }
            &-img {
                background-repeat: no-repeat;
                background-size: cover;
                height: 323px;
                background-position: center;
                &.p {
                    &1 {
                        background-image: url(../img/p1.jpg);
                    }
                    &2 {
                        background-image: url(../img/p2.jpg);
                    }
                    &3 {
                        background-image: url(../img/p3.jpg);
                    }
                    &4 {
                        background-image: url(../img/p4.jpg);
                    }
                    &5 {
                        background-image: url(../img/p5.jpg);
                    }
                    &6 {
                        background-image: url(../img/p6.jpg);
                    }
                    &7 {
                        background-image: url(../img/p7.jpg);
                    }
                    &8 {
                        background-image: url(../img/p8.jpg);
                    }
                    &9 {
                        background-image: url(../img/p9.jpg);
                    }
                }
                img {
                    // width: 100%;
                    display: none;
                }
            }
            &:hover .areas_block_itm-over {
                display: block;
                top: 0;
                left: 0;
                position: absolute;
                background: rgba(82, 154, 213, 0.75) url(../img/icons/plus_icon.png) no-repeat center center;
                width: 100%;
                height: 100%;
            }
            &-title {
                color: #222;
                font-size: 20px;
                text-align: center;
                margin-top: 10px;
                font-weight: 400;
                padding: 0 5px;
            }
            &-desc {
                font-size: 14px;
                line-height: 24px;
                color: #555;
                text-align: center;
                width: 100%;
                margin: 19px auto 0px;
                padding: 0 5px;
            }
        }
    }
}

span.msg,
span.choose {
  color: #555;
  padding: 5px 0 10px;
  display: inherit
}
/*Styling Selectbox*/
.dropdown {
  width: 45px;
  display: inline-block;
  background-color: transparent;
  border-radius: 2px;
  box-shadow: 0 0 2px #0088ff;
  transition: all .5s ease;
  position: relative;
  font-size: 14px;
  color: #fff;
  height: 100%;
  text-align: left
}
.dropdown .select {
    cursor: pointer;
    display: block;
    padding: 2px 7px;
}
.dropdown .select > i {
    font-size: 13px;
    color: #fff;
    cursor: pointer;
    transition: all .3s ease-in-out;
    float: right;
    line-height: 20px
}
.dropdown.active:hover,
.dropdown.active,
.dropdown.active:active,
.dropdown.active:focus {
    box-shadow: 0 0 4px #195A94;
    border-radius: 2px 2px 0 0;
    background-color: transparent
}
.dropdown.active .select > i {
    transform: rotate(-90deg)
}
.dropdown .dropdown-menu {
    position: absolute;
    background-color: transparent;
    width: 100%;
    left: 0;
    margin-top: 1px;
    box-shadow: 0 1px 2px #195A94;
    border-radius: 0 1px 2px 2px;
    overflow: hidden;
    display: none;
    max-height: 144px;
    overflow-y: auto;
    z-index: 9
}
.dropdown .dropdown-menu li {
    padding: 2px 10px;
    cursor: pointer;
    background-color: #fff;
    color: #195A94;
} 
.dropdown .dropdown-menu {
    padding: 0;
    list-style: none
}
.dropdown .dropdown-menu li:hover {
    background-color: #0088ff;
    color: #fff;
}
.dropdown .dropdown-menu li:active {
    background-color: #0088ff;
    color: #fff;
}
.fixed-dropdown {
    position: fixed;
    right: 80px !important;
    top: 27px;
    z-index: 10002;
}

.welcome {
    background-color: #fff;
    color: #444;
    font-family: $logotitle;
    text-align: center;
    position: relative;
    &-title {
        font-size: 2vw;
        font-weight: 600;
        margin: 0;
        padding: 40px 0;
    }
    &-desc {
        font-weight: 600;
        padding-bottom: 20px;
        position: relative;
        // @include after-line();
    }
    .wrapper {
        position: relative;
        overflow: hidden;
        .wrap_info {
            width: 600px;
            position: absolute;
            right: 0;
            top: 0;
            bottom: 0;
            background: rgba(255, 255, 255, 0.8);
            z-index: 10001;
            .wel_inf-title {
                font-size: 36px;
                color: rgb(0, 0, 0);
                text-align: center;
                margin-top: 132px;
            }
            .wel_inf-txt {
                width: 90%;
                margin: 37px auto 0;
                p {
                    color: #000;
                }
            }
            .wel_inf-btn {
                width: 264px;
                height: 66px;
                background: #529ad5;
                color: #fff;
                font-size: 16px;
                text-align: center;
                text-transform: uppercase;
                display: block;
                border: 1px solid #529ad5;
                border-radius: 3px;
                text-decoration: none;
                line-height: 64px;
                transition: all 0.3s;
                margin: 0 auto;
                margin-top: 36px;
                display: none;
                &:hover {
                    color: #fff;
                    background-color: #000;
                }
            }
        }
        @include overlay();
        .overlay {
            z-index: 10000;
        }
        .slider {
            .slick-list {
                overflow: hidden;
                .slick-track {
                    display: flex;
                    .slider_item {
                        width: 100%;
                        height: 750px;
                        overflow: hidden;
                        img {
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}

.team {
    background-color: #fff !important;
    .shep_svg {
        transition: fill 0.3s;
        fill: #fff;
        stroke: none;
    }
    .welcome-text {
        .welcome-desc {
            max-width: 515px;
            margin: 0 auto;
            padding-bottom: 50px;
            &::after {
                top: 80px;
            }
        }
    }
    .wrapper-fbut {
        background-color: #f1f1f1;
        padding: 10px;
        &-link {
            background-color: transparent;
            width: 123px;
            height: 50px;
            color: #111111;
            font-size: 12px;
            text-align: center;
            text-transform: uppercase;
            display: block;
            border: 1px solid #529ad5;
            border-radius: 4px;
            text-decoration: none;
            line-height: 50px;
            transition: all 0.3s;
            margin: 0 auto;
            &:hover {
                background-color: #529ad5;
                color: #fff;
            }
        }
    }
    .att {
        &_shapes {
            width: 335px;
            height: 220px;
            margin-top: -42px;
            position: relative;
            &_name {
                z-index: 2;
                position: absolute;
                top: 0px;
                left: 0;
                right: 0;
                margin: 60px 0px 0px;
                text-align: center;
                font-size: 14px;
                color: #444444;
                font-weight: 400;
                transition: color 0.3s;
                & span {
                    color: #adafb1;
                    font-weight: 400;
                }
                &_btn {
                    width: 123px;
                    height: 50px;
                    color: #111111;
                    font-size: 12px;
                    text-align: center;
                    text-transform: uppercase;
                    display: block;
                    border: 1px solid #529ad5;
                    border-radius: 4px;
                    text-decoration: none;
                    line-height: 50px;
                    transition: all 0.3s;
                    margin: 23px auto 0px;
                }
            }
            svg:not(:root) {
                overflow: hidden;
            }
            svg:nth-of-type(2) {
                position: absolute;
            }
        }
        &_block {
            width: 1106px;
            margin: 30px auto 0px;
            &_itm {
                width: 335px;
                float: left;
                margin-right: 50px;
                &:last-of-type {
                    margin-right: 0;
                }
                &:hover .att_shapes_name {
                    color: #fff;
                }
                &:hover .shep_svg {
                    fill: #000;
                }
            }
        }
        &_block_itm:hover .att_shapes_name_btn {
            color: #529ad5;
        }
        &_block_itm .att_shapes_name_btn:hover {
            color: #fff;
            background-color: #529ad5;
        }
    }
}

.contact-us {
    .welcome {
        &-title {
            border-top: 10px solid #F1F1F1;
            padding-top: 0;
        }
        &-desc {
            font-weight: 100;
        }
    }
}

.copyrights {
    text-align: center;
    background-color: #031d33;
    color: #fff;
    z-index: 1;
    position: relative;
    margin-top: 15px;
    p {
        margin: 0;
        padding: 8px 0;
        font-family: "Open Sans", sans-serif;
        letter-spacing: 1px;
    }
}

.footer {
    width: 100%;
    position: relative;
    padding: 50px 0 0 0;
    @include overlay();
    &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        @include bgimg("../img/sud.jpg");
        background-position-y: center;
        filter: brightness(50%);
        background-size: cover;
        z-index: -1;
    }
    .overlay {
        z-index: 0;
    }
    .wrapper {
        // height: 150px;
        width: 60%;
        margin: 0 auto;
        text-align: center;
        color: #fff;
        z-index: 1;
        position: relative;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: wrap;
        p {
            display: flex;
            align-items: center;
            font-family: $logotitle;
            font-size: 17px;
            margin: 5px 0;
            img {
                width: 20px;
                height: 20px;
                margin-right: 5px;
            }
        }
    }
}

body .infoflex {
    background-color: transparent;
}
// fintech
.accordion {
    font-family: "Open Sans", sans-serif;
    background-color: #fff;
    color: #000;
    cursor: pointer;
    padding: 18px;
    padding-left: 8%;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 1.3vw;
    font-weight: 500;
    transition: 0.5s background-color;
    transition-timing-function: ease;
    border-top: 1px solid #efeded;
    margin: 0;
    &.active {
        background-color: #004695;
        color: #fff;
    }
    p {
        margin: 0;
        padding: 0;
    }
    &:hover {
        background-color: #004695;
        color: #fff;
    }
  }
  .panel {
    font-family: "Open Sans", sans-serif;
    padding: 0 18px;
    background-color: #f8f8f8;
    color: #444;
    font-weight: 600;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    p {
        margin: 0;
        padding: 20px;
        font-weight: 500;
        &.special-design {
            background-color: #fff;
            border-left: 4px solid #004695;
        }
    }
}


@media (max-width:769px) {
    .welcome .wrapper .wrap_info {
        width: 100%;
        background-color: transparent;
    }
    .welcome .wrapper .slider .slick-list .slick-track .slider_item img {
        width: initial;
        height: 100%;
    }
    .welcome .wrapper .wrap_info .wel_inf-title {
        color: #fff;
    }
    .welcome .wrapper .wrap_info .wel_inf-txt p {
        color: #fff;
    }

    // uslugi
    .poslugi .areas_block_itm {
        width: 47%;
    }

    // mobile
    .header-links {
        display: none;
        position: absolute;
        right: 20px;
        top: 55px;
        background-color: $logoclr1;
        margin: 0 auto;
        padding: 10px 20px;
        flex-direction: column;
        a {
            margin: 5px 0;
            display: block;
        }
    }

    .header .mobile-but-hed,.mobile-but-hed:active,.mobile-but-hed:focus {
        background-image: url(../img/mobile-menu.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-color: transparent;
        width: 29px;
        height: 26px;
        border: none;
        outline: none;
        position: fixed;
        right: 20px;
        top: 25px;
        z-index: 10002;
        display: inline-block;
    }

    .footer .wrapper {
        width: 67%;
        p {
            margin: 10px 0;
        }
    }

    .poslugi {
        padding-bottom: 0;
    }

    .contact-us .welcome-title {
        padding: 30px;
    }
}

@media (max-width: 500px) {
    .welcome {
        &-title {
            font-size: 27px;
        }
    }

    // uslugi
    .poslugi .areas_block_itm {
        width: 100%;
    }
}