body {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

$logoclr1: #1B62A1;
$logoclr2: #6B6C6E;

@mixin bgimg($bg) {
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url($bg);
}
a,a:hover,a:active,
a:visited,a:focus {
    color: #000;
    text-decoration: none;
}

.intro {
    @include bgimg("../img/bg.jpg");
    height: 100vh;
    .header {
        padding-top: 47px;
        width: 90%;
        margin: 0 auto;
        .wrapper {
            display: flex;
            .logo {
                padding-left: 5px;
                font-family: fantasy;
                position: relative;
                &::before {
                    content: "";
                    position: absolute;
                    left: -3px;
                    top: -1.6px;
                    bottom: -2px;
                    width: 3px;
                    background-color:$logoclr1;
                }
                &-item {
                    text-transform: uppercase;
                    margin: 7px;
                }
                &-title {
                    margin-top: 0;
                    color: $logoclr1;
                    line-height: 16px;
                    letter-spacing: 1px;
                    &:nth-of-type(2) {
                        margin-bottom: 10px;
                    }
                }
                &-desc {
                    margin-bottom: 0;
                    color: $logoclr2;
                    line-height: 11px;
                    font-weight: 500;
                    font-family: system-ui;
                }
            }
        }
    }
}