.intro {
  height: 158.4px;
  background-image: none;
  background-color: #38294c !important;
  position: relative;
}

.intro .overlay {
  background-image: url("../img/overlay.png");
  background-repeat: repeat;
  background-size: 4px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.intro .overlay {
  z-index: 0;
}

.header {
  padding-top: 34px;
}

.info {
  position: relative;
  z-index: 1;
  background-color: #150f1d;
}

.info-usluga {
  width: 100%;
}

.footer .wrapper:last-of-type {
  padding-bottom: 40px;
}
